div {
  background-color: #E4F9F5;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

  }

span {
  text-decoration: underline;
}

h3 {

  text-align: left;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  line-height: 1;
}

.middle-container {}

.bottom-container {}



.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

div.profile {
  background-color: white;
}

img.kiitan {
  height: 200px;
  width: 200px;
}

.skill-row {
  width: 30%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-top: 0;


}

.chilli-img {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.code-img {
  width: 35%;
  float: left;
  margin-right: 30px;
  height: 200px;
  width: 200px;
  border-radius: 100%;

}

img.code-img {
  padding-top: 0;
}

p.bio {
  line-height: 2;
}
